@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-black tracking-wide
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl 
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

 .blue__gradient {
      background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #81bbd6 100%);
      filter: blur(123px);
    }
}

@layer utilities {
  .shine:hover {
    animation: shine 1.5s infinite;
  }

  @keyframes shine {
    0% {
      background-position: right;
    }

    100% {
      background-position: left;
    }
  }

  .fade {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50% ;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.linear-wipe {
  text-align: center;
  
  background: linear-gradient(to left, #000 20%, #78716c 40%, #78716c 60%, #000 80% );
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
}

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }